* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

section {
  flex: 1;
}

.section1 {
  background: #1f2937;
  padding: 130px;
}
.section2 {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  margin: 70px;
  padding: 60px 0;
  padding-bottom: 120px;
}
.section3 {
  background: #e5e7eb;
}
.section4 {
  background: white;
}

header,
.hero {
  margin: 0 128px;
}

header {
  height: 60px;
  position: relative;
  bottom: 130px;
  display: flex;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
}

.header-links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  font-size: 19px;
}

a {
  color: #999ea6;
  text-decoration: none;
}

.hero {
  display: flex;
  height: 255px;
}

.hero-main-text {
  font-size: 48px;
  color: #f9fafb;
  font-weight: 800;
}

.hero-secondary-text {
  font-size: 18px;
  color: #c4c7cc;
  padding-right: 30px;
}

.hero-description {
  flex: 1;
}

.hero-button {
  border: none;
  background-color: #3882f6;
  position: relative;
  top: 10px;
}

.hero-image {
  background: #6c747d;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e7e8e9;
}
.title {
  position: absolute;
  top: 615px;
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

.section2 div {
  width: 170px;
  height: 180px;
  display: block;
}

.text {
  margin-top: 8px;
  text-align: center;
  font-size: 18px;
  color: #67707c;
}

.box {
  border: 4px solid #80aefa;
  border-radius: 15px;
}

.section3 div {
  margin: 0 250px;
  padding: 140px 80px;
}

.quote {
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
}

.author {
  font-size: 28px;
  color: #1f2937;
  float: right;
  margin-right: 60px;
  font-weight: bold;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 80px 150px;
  padding: 50px 120px;
  background: #3882f6;
  border-radius: 10px;
}

.card p:first-child {
  font-size: 30px;
  font-weight: 800;
  color: white;
}

.card p:nth-child(2) {
  color: #e5e7eb;
  font-size: 24px;
}

button {
  padding: 6px 30px;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
}

.card-button {
  background-color: transparent;
  border: 2px solid white;
}

footer {
  background: #1f2937;
  text-align: center;
  color: #e5e7eb;
  padding: 35px;
  font-size: 20px;
}
